body {
  background: #f2f2f2;
  color: #333;
}
nav a {
  color: #333;
  text-decoration: none;
  margin-left: 12px;
}
a:hover {
  color: #777;
  cursor: pointer;
}
.content {
  max-width: 950px;
  margin: 0 auto;
}
li {
  list-style: none;
  line-height: 30px;
}
.coin-link {
  text-decoration: none;
  color: #333;
  font-size: x-large;
  margin-left: 10px;
}
.coin-overview {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 10px;
  padding: 5px;
  border: 3px solid rgb(196, 193, 193);
}
.coin-overview:hover {
  outline: 1px solid #333;
  cursor: pointer;
}
.coin-overview h4 {
  margin-left: auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav .logo {
  margin-right: auto;
}
nav .logo:hover {
  cursor: pointer;
}
footer {
  display: block;
  text-align: center;
  padding: 30px;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}