.coinLink {
  text-decoration: none;
  color: #333;
  font-size: x-large;
  margin-left: 10px;
}
.coinOverview {
  display: grid;
  grid-template-columns: 30% 20% 30% 20%;
  margin-top: 10px;
  padding: 5px;
  border: 3px solid rgb(196, 193, 193);
}
.coinOverview:hover {
  outline: 1px solid #333;
  cursor: pointer;
}
.coinOverview h4 {
  margin-left: auto;
}
.coinLogo {
  display: flex;
  align-items: center;
}
.coinLogo img {
  height: 3rem;
  width: 3rem;
}